body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: darkslateblue;
    font-family: 'Silkscreen', cursive;
    color: chocolate;
}

.card{
    
    background-color: bisque;
    padding: 1em;
    border-radius: 30px;
    width: 40%;
    max-width: 420px;
    margin: 1em
}

.search-bar{
    
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.button{
    width: 100%;
    background-color: greenyellow;

}

.weatherin{
    color: rgb(230, 0, 255);
}

.city{
    color:gold;
}

.temp{
    font-size: xx-large;
    color: lightskyblue;

}

.icon{
    

}

.description{

}

.humidity{


}